* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Helvetica Neue";
}

.slim-nav {
  border-bottom: 1px solid #ebe9ec;
}
.search-input {
  border-radius: 20px;
  width: 240x;
  height: 40px;
  padding-left: 50px;
  padding-right: 20px;
  color: rgba(0, 0, 0, 0.8);
}
.search-input::placeholder {
  color: #706e72;
}
.search-button {
  position: absolute;
  top: 0;
  left: 0;
}
.slim-nav-link {
  color: #706e72;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
slim-nav-link svg {
  margin-right: 8px;
}
.slim-nav-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.slim-nav-menu > *:nth-child(1) {
  margin-right: 32px;
}

.slim-nav-menu > *:nth-child(3) {
  margin-right: 32px;
}

.slim-nav-menu > *:nth-child(2) {
  margin-right: 16px;
}

.main-btn {
  font-size: 13px;
  color: #fff1ff;
  border-radius: 1386px;
  background: #bb1aff;
}
.main-btn:hover {
  background-color: white;
  color: #bb1aff;
  border: 1px solid #bb1aff;
}

.social-icons {
  gap: 34px;
}

.date-post {
  font-size: 13px;
  color: #706e72;
  /* gap: 20px; */
}

.date-post > div:first-child::after {
  content: "·";
  color: #706e72;
  margin: 0 10px;
}

.news-title {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #3e3d41;
  margin-top: 20px;
}

.authorDesc {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #706e72;
}

.authorBtn1 {
  background-color: #bb1a8e;
  border: #bb1a8e;
  color: #fff1ff;
  border-radius: 1386px;
  padding: 8px 17px 10px 18px;
  font-size: 13px;
}
.authorBtn2 {
  background-color: #bb1a8e;
  border: #bb1a8e;
  color: #fff1ff;
  border-radius: 1386px;
}
.little-title {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: #3e3d41;
}

.suggested-articles {
  width: 70%;
}
.suggested-author {
  font-size: 12px;
  color: #3e3d41;
}
